<html>

<head>
    <title>About
    </title>
    <link rel="stylesheet" type="text/css" href="css/stylesheet3.css">
</head>

<body>
    <%- include('partials/header.ejs') %>
    <br><br><br><br><br><br><br>
    <div id="banner">
        <h1>About us</h1>
    </div>
    <br><br><br>
    <div id="about">
        <div id='menu'>
            <ul>
                <li><button onclick="disp(1)">History</button></li>
                <li><button onclick="disp(2)">Management</button></li>
                <li><button onclick="disp(3)">HM's Desk</button></li>
            </ul>
        </div>
        <div id="all">
            <div id="History">
                <h1>History</h1>
                <p>
                    In western India Fellowship School has the distinct honour to become the first co¬educational
                    school in
                    1927. Not only the orthodox but even the society reformers were not ready enough to accept this
                    concept.
                    Late Shri Shrinivas Shastri inaugurated the newly opened Fellowship. Shri Ratans' D. Morarji was
                    appointed as the first President of the Fellowship Society.
                    Auspicious Beginning
                    Fellowship was born in 1927 in a bungalow at Chowpatty. After one year it was shifted to a Royal
                    Palace,
                    China Baug, located on Viththalbhai Patel Road. It had been there till 1935.
                    In 1930, the first Principal Shri Maganlal Vyas left school and was succeeded by Shri
                    Shankarprasad
                    Shukla. Fellowship had to vacate this place and move to Chauhan Bhuvan in Gamdevi as this place
                    was to
                    be demolished only to build Sicka Nagar. Shri Shukla gave up his post as the Principal in 1939
                    after
                    which Shri Pranlal Upadhyay was appointed as the next Principal. After his 31 years of dedicated
                    services he retired in 1970.
                    From 1970-1973, Shri Natwarbhai Dave, Smt. Nirmalaben Oza and Smt. Induben Desai were appointed
                    as
                    Principals respectively.
                    Shri Govindbhai J. Patel was appointed as the next Principal and retired after 5 years i.e. in
                    1978. He
                    gave a boost to the school educational system, which in return brought laurels to the school.
                    Smt. Renukaben Inamdar, Smt. Leelaben Kainth, Shri Hasmukh Trivedi, Shri. J. A. Patel, Smt. H.K.
                    Suthar,
                    Smt.Geeta Chandrasekaran, Smt. G.F D'mello and Mrs. Trupti Joshi worked as the H.M's of the
                    secondary
                    section, Smt. Hansaben Shah worked as the H.M. of the primary as well as the Pre-primary
                    section. Mrs.
                    P.R. Chokshi, Mrs. Subina Ullah and Mrs. Manju Rohra also worked as the H.M's of the Pre¬primary
                    section. Smt. Jayaben Nayak, Smt. Dakshaben Was and Mrs. Manju Rohra were the former H.M's of
                    the
                    Primary section. Mrs. Asmita Bhatt is the Head Mistress of the Secondary section, while Mrs.
                    Urvi Parikh
                    is the Head Mistress of Pre¬primary & Primary section now a days.
                    Fund Raising Programme
                    Fellowship wanted to have a firm footing in its educational activities, but was lacking in
                    finances and
                    hence the fund collection drive was started in 1949. The outcome of this was that no worthwhile
                    amount
                    could be collected. The governing body decided to give full control of the financial affairs of
                    the
                    school and the society to Shri Ambalal Inamdar. In 1957 Shri Jamnadas Ladiwala was appointed as
                    the
                    President of the Fellowship Society. With the help and co-operation of his colleagues, well
                    wishers and
                    donors the amount collected was Rs. 32,000/-. A trust was set up and Shri Ambalal Inamdar was
                    appointed
                    as the Secretary.
                    Silver Jubilee
                    In 1952, Fellowship Society and School celebrated 25th Founder's Day. Through various cultural
                    programmes the committee could manage to coiled a sum of Rs. 34,000/- which was given towards
                    the
                    building fund.
                </p>
            </div>
            <br><br>
            <div id="manage">
                <h1>FELLOWSHIP SOCIETY</h1>
                <br>
                <h2>BOARD OF TRUSTEES</h2>
                <p id="bot">
                    President &#160 &#160 : &#160 &#160Shri Dinesh Dangarwala<br>
                    Trustee &#160 &#160 : &#160 &#160 Shri Ramesh C. Dalal<br>
                    Managing Trustee &#160 : &#160 &#160 Shri Mahendra V. Inamdar<br>
                    Trustee &#160 &#160 : &#160 &#160 Shri Ashish M. Bafna<br>
                </p>

                <h2>GOVERNING BODY</h2>
                <p>1. Shri Pradeep J. Jhaveri<br>
                    2. Shri Rajesh Mehta<br>
                    3. Shri Khurshed Dhordi<br>
                    4. Shri Yash M. Inamdar<br><br>
                </p>
            </div>
            <div id="hm">

                <img src="images/static/HM.jpg" style="width: 500px;">
                <p>
                    <p id="quote"> “Education is the manifestation of the perfection already in man.”
                        - Swami Vivekanand</p><br><br>
                    Today, the role of a school is not only to pursue academic excellence but also to
                    motivate and empowers the students to be lifelong learners, critical thinkers and
                    productive members of an ever-changing global society. More than nine decades back
                    Fellowship pledged to transform education, run under the aegis of well, established
                    management. Fellowship society has earned its own niche.<br><br>
                    At Fellowship school we provide an atmosphere to our students for multi-faceted
                    development, where children are encouraged to channelize their potential in the pursuit
                    of excellence. This can only be possible in a holistic, student-centric environment. The
                    talents, skills and abilities of each student need to be identified, nurtured and
                    encouraged, so that he/she is able to reach greater heights.<br><br>
                    The school is trying hard to make the best possible efforts to inculcate strong
                    values combining with academic & extra curricular activities in the children converting
                    every individual into a self-reliant and independent citizen. The school provides an
                    amalgam of scholastics and co-scholastic activities.<br><br>
                    The parents are the most strengthning power in moulding the children. Their
                    consistent support empowers us to do more and more. I pay my gratitude to them for
                    their faith in us.<br><br>
                    I am confident enough that Fellowship school will make themselves stronger day
                    by day, adding a new leaf to the grandeur of the school.
                    So dear students its my message to you all that always remember to uphold the
                    dignity of people, be always ready to give preference to others, what you are it’s God’s
                    gift to you. What you become is your gift to god. Have something to live for. Bring out
                    the best in you.<br><br>
                    With warm wishes & God’s blessings.
                    <br>
                    <br>
                    <p id="sign">
                        Mrs. Asmita V. Bhatt<br>
                        Headmistress (Secondary Department)
                    </p>
                </p>


            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>

</html>

<style>
    #banner {
        background-image: url(css/background.jpg);
        background-size: cover;
        padding: 30px;
        text-align: center;
        font-family: 'Archivo Black', sans-serif;
    }

    #about {
        border: 1px solid lightgray;
        text-align: center;
        margin: 0 40 40 40;
    }

    #all {
        padding-right: 40px;
        padding-bottom: 10px;
        padding-left: 40px;    
        }

    #menu {
        background: whitesmoke;
        height: 55px;
        padding-top: 5px;
        border-bottom: 1px solid lightgray;
    }

    #menu li {
        list-style-type: none;
        float: left;
        margin-left: 5px;
    }

    #menu button {
        background-color: white;
        color: black;
        border: 2px solid #008CBA;
        width: 100px;
        display: inline-block;
        height: 50px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
    }

    #menu button:hover {
        background-color: #008CBA;
        color: white;
    }

    #all h1,
    #all h2 {
        font-family: 'Archivo Black', sans-serif;
    }

    #History {
        display: block;
        text-align: justify;
        padding: 10px;
        font-family: 'Raleway', sans-serif;
        word-spacing: 5px;
        line-height: 1.5;
    }

    #manage {
        display: none;
        margin-left: 400px;
        padding: 15px;
        font-family: 'Raleway', sans-serif;
        border: 5px inset royalblue;
        border-radius: 50px;
        transform: translate(-200px, 0px);
        top: 0px;
        line-height: 2;
    }

    #manage p {
        text-align: justify;
        margin-left: 250px;
    }

    #bot {
        text-align: center;
        transform: translate(-70px, 0px);
    }

    #hm {
        display: none;
        text-align: justify;
        padding: 10px;
        font-family: 'Raleway', sans-serif;
        color: blue;
        font-weight: 20px;
        word-spacing: 5px;
        line-height: 1.5;
    }

    #manage h2,
    #manage h1 {
        text-align: center;
    }


    #sign {
        text-align: right;
        color: darkgoldenrod;
        font-weight: bold;
    }

    #quote {
        color: red;
        font-weight: bolder;
    }
</style>

<script type="text/javascript">

    function disp(n) {
        var a = document.getElementById('History')
        var b = document.getElementById('manage')
        var c = document.getElementById('hm')

        if (n == 1) {
            a.style.display = 'block'
            b.style.display = 'none';
            c.style.display = 'none';
        }

        if (n == 2) {
            a.style.display = 'none';
            b.style.display = 'block';
            c.style.display = 'none';
        }

        if (n == 3) {
            a.style.display = 'none';
            b.style.display = 'none';
            c.style.display = 'block';

        }

    }
</script>